body {
    font-family: sans-serif;
  
   padding-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-small {
    height: 40px;
}

.img-medium {
    height: 200px;
}
.img-high{
    height: 500px;
}
 .container {
                 max-width: 800px;
                 margin: 0 auto;
                 color: gray;
                 font-family: sans-serif;
                 
                  padding-left: 20px;
 }
 div{
     max-width: 800px;
 }
footer {
    font-family: cursive;
    background-color: burlywood;
    padding-top: 60px;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}
header {
    font-family: cursive;
    background-color: burlywood;
    text-align: left;
    font-size: 150%;
    font-weight: bold;
}