body {
    font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
   padding-top: 5px;
     background-image: url("http://wallpapercave.com/wp/UyNOzwq.jpg");
}

.center {
    text-align: center;
}
.myarticles{
    
   font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
    
    
}    


.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-small {
    height: 50px;
}

.img-medium {
    height: 200px;
}
.img-high{
    height: 500px;
}

.loginbox {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    
    background-color:#7D7B7B;
    
    
}


 .loginbody {
                 max-width: 800px;
                 margin: 0 auto;
                 color: black;
                 font-family: "Times New Roman", Times, serif;
                 
                  padding-left: 20px;
 }
 
 
 comment {
    margin-left: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.commenter {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 0.8em;
}

#comment_form {
    margin-left: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
 
footer {
    font-family: "Times New Roman", Times, serif;
    background-color: brown;
    padding-top: 40px;
    text-align: center;
    font-size: 130%;
    font-weight: bold;
}
header {
    font-family: "Times New Roman", Times, serif;
    background-color: #6B6E6D;
    text-align: left;
    font-size: 150%;
    padding-top: 10px;
    font-weight: bold;
}


