body {
    font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
   padding-top: 5px;
     background-color:#66C5C8;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-small {
    height: 50px;
}

.img-medium {
    height: 200px;
}
.img-high{
    height: 500px;
}

.loginbox {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    
    background-color:#D3F2D4;
    
    
}


 .loginbody {
                 max-width: 800px;
                 margin: 0 auto;
                 color: black;
                 font-family: "Times New Roman", Times, serif;
                 background-color: #7A71ED;
                  padding-left: 20px;
 }
 
 
 comment {
    margin-left: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.commenter {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 0.8em;
}

#comment_form {
    margin-left: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
 
footer {
    font-family: "Times New Roman", Times, serif;
    background-color: brown;
    padding-top: 60px;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}
header {
    font-family: "Times New Roman", Times, serif;
    background-color: #1697ED;
    text-align: left;
    font-size: 250%;
    padding-top: 45px;
    font-weight: bold;
}


